<%= render partial: 'shared/page_header', locals:{ header_name: 'User profile' } %>
<%= form_tag(user_path(@user), method: :put, class: 'form-horizontal') do %>
  <%= hidden_field_tag 'user[profile_attributes][id]', @user.profile.try(:id), id: "user_profile_id" %>
  <div class="form-group">
    <%= label_tag :user_name, 'Name', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'user[profile_attributes][name]', @user.profile.try(:name), class: "form-control", prompt: 'Please enter a name', id: 'user_name' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :user_gender, 'Gender', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= select_tag 'user[profile_attributes][gender]', options_for_select(Profile::GENDER_LIST.map{ |k,v| [v,k] }, @user.profile.try(:gender)), class: "form-control", placeholder: 'Please select gender', id: 'user_gender' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :user_age, 'Age', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'user[profile_attributes][age]', @user.profile.try(:age), class: "form-control", prompt: 'Please enter the age', id: 'user_age' %>
      </div>
    </div>
  </div>
   <div class="form-group">
    <%= label_tag :user_country, 'Country', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= select_tag 'user[profile_attributes][country]', options_for_select(ISO3166::Country.all.map{|v| [v.name, v.name] }, @user.profile.try(:country)), class: "form-control", placeholder: 'Please select a country', id: 'user_country' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= submit_tag 'Update', class: "btn bg-primary btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
