<%= render partial: 'shared/page_header', locals:{ header_name: 'Friends activity' } %>
<div class="panel">
  <div class="panel-body">
    <div class="clearfix mb10"></div>
    <% if @activities.any? %>
      <table class="table batch table-hover table-responsive">
        <thead>
          <th>User name</th>
          <th>Activity</th>
          <th>Logged at</th>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= link_to(activity.user.name, user_path(activity.user.id)) %></td>
              <td><%= activity.message %></td>
              <td><%= show_date(activity.created_at) %></td>
            </tr>
          <% end %>
         </tbody>
      </table>
      <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
    <% else %>
      <div class="text-center">Your friends don't have any activity</div>
    <% end %>
  </div>
</div>
