<%= render partial: 'shared/page_header', locals:{ header_name: 'Other users' } %>
<div class="panel">
  <div class="panel-body">
    <div class="clearfix mb10"></div>
      <% if @users.any? %>
        <table class="table batch table-hover table-responsive">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Following</th>
            <th>Followers</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.profile.try(:name) %></td>
                <td><%= link_to(user.email, user_path(user.id)) %></td>
                <td><%= user.profile.try(:country) %></td>
                <td><%= user.profile.try(:gender) %></td>
                <td><%= user.profile.try(:age) %></td>
                <td><%= user.followings.count %></td>
                <td><%= user.followers.count %></td>
                <td><%= show_followers_link(user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      <% else %>
        <div class="text-center">There are no users.</div>
      <% end %>
    </div>
  </div>
</div>
