<%= render partial: 'shared/page_header', locals:{ header_name: 'My projects' } %>
<div class="form-group">
  <%= link_to('Create a new project', new_project_path, class: 'btn btn-primary') %>
</div>
<div class="panel">
  <div class="panel-body">
    <div class="clearfix mb10"></div>
    <% if @projects.any? %>
      <table class="table batch table-hover table-responsive">
        <thead>
          <th>Project name</th>
          <th>Likes</th>
          <th>Created at</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to(project.name, edit_project_path(project.id)) %></td>
              <td><%= project.likes.count %></td>
              <td><%= show_date(project.created_at) %></td>
              <td>
                <%= link_to('Edit', edit_project_path(project.id)) %> |
                <%= show_like_link(project.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
    <% else %>
      <div class="text-center">There are no projects.</div>
    <% end %>
  </div>
</div>
