<%= render partial: 'shared/page_header', locals:{ header_name: 'User profile details' } %>
<div class='form-horizontal'>
  <div class="form-group">
    <%= label_tag :user_email, 'Email', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'user[email]', @user.email, class: "form-control", id: 'user_email', readonly: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :user_name, 'Name', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'user[profile_attributes][name]', @user.profile.try(:name), class: "form-control", id: 'user_name', readonly: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :user_gender, 'Gender', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'user[profile_attributes][gender]', Profile::GENDER_LIST[@user.profile.try(:gender)], class: "form-control", id: 'user_gender', readonly: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :user_age, 'Age', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'user[profile_attributes][age]', @user.profile.try(:age), class: "form-control", id: 'user_age', readonly: true %>
      </div>
    </div>
  </div>
</div>
