<%= form_tag(url, method: method, class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :project_name, 'Project Name', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'project[name]', @project['name'], class: "form-control", prompt: 'Please enter a name' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= submit_tag projects_submit_button_texf(method), class: "btn bg-primary btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
