<%= render partial: 'shared/page_header', locals:{ header_name: 'Other projects' } %>
<div class="panel">
  <div class="panel-body">
    <div class="clearfix mb10"></div>
    <% if @projects.any? %>
      <table class="table batch table-hover table-responsive">
        <thead>
          <th>Project name</th>
          <th>User name</th>
          <th>Likes</th>
          <th>Created at</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to(project.name, project_path(project.id)) %></td>
              <td><%= link_to(project.user.name, user_path(project.user.id)) %></td>
              <td><%= project.likes.count %></td>
              <td><%= show_date(project.created_at) %></td>
              <td><%= show_like_link(project.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
    <% else %>
      <div class="text-center">There are no projects.</div>
    <% end %>
  </div>
</div>
