<div class='form-horizontal'>
  <div class="form-group">
    <%= label_tag :project_name, 'Project Name', class: "col-lg-3 control-label" %>
    <div class="col-lg-8">
      <div class="bs-component">
        <%= text_field_tag 'project[name]', @project['name'], class: "form-control", prompt: 'Please enter a name', readonly: true %>
      </div>
    </div>
  </div>
</div>
