window.flash_message_div = (msg_type = 'notice', msg_txt = '') ->
  "<div class='alert "+flash_types[msg_type]+" alert-dismissable'>
    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>x</button>"+msg_txt+"</div>"

window.show_flash_message = (msg_type = 'notice', msg_txt = '') ->
  $("#flash").html(flash_message_div(msg_type, msg_txt))

flash_types =
  success: 'alert-success'
  error: 'alert-danger'
  alert: 'alert-warning'
  notice: 'alert-info'
